{% extends "layout.html" %}
{% block title %}Add author{% endblock %}
{% block h1 %}Add author{% endblock %}

{% block body %}
	<div class="form">
		<div class="right"><a class="button" href="{{ url_for('authors') }}">List authors</a></div>
	  	<div class="clear"></div>
		
		{% from "_formhelpers.html" import render_field %}
	    <form action="{{ url_for('add_author') }}" method=post>
	    	<dl>
				{{ render_field(form.name) }}
				{{ render_field(form.books) }}
			</dl>			
		    <div class="save"><input type=submit value=save></div>
	    </form>
	</div>
{% endblock %}