{% extends "layout.html" %}

{% block title %}Authors{% endblock %}
{% block h1 %}Authors{% endblock %}</h1>

{% block body %}
  <div class="left"><a class="button" href="javascript:delete_author();">Delete author</a></div>
  <div class="right"><a class="button" href="{{ url_for('add_author') }}">Add author</a></div>

  <div class="clear"></div>
  {% if authors %}
  	<div class="selected"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);">select all/deselect</div>
  {% endif %}

  <ul class=entries>
  {% for author in authors %}
    <li>
    	<input type="checkbox"  name="selected" value="{{author.id}}">
    	<a href="{{ url_for('edit_author', id = author.id) }}">{{ author.name }}</a>
  {% else %}
    <li><em>There are no authors.</em>
  {% endfor %}
  </ul>
{% endblock %}