{% extends "layout.html" %}

{% block title %}{{book.title}}{% endblock %}
{% block h1 %}{{book.title}}{% endblock %}

{% block body %}
	<div class="form">
		<div class="left"><a class="button" href="{{ url_for('delete_book', id = book.id) }}">Delete this book</a></div>
		<div class="right"><a class="button" href="{{ url_for('books') }}">List books</a></div>
	  	<div class="clear"></div>

		{% from "_formhelpers.html" import render_field %}
		<form action="{{ url_for('edit_book', id = book.id) }}" method=post>
			<dl>
				{{ render_field(form.title) }}
				{{ render_field(form.authors) }}
			</dl>			
		    <div class="save"><input type=submit value=save></div>
		</form>
	</div>
{% endblock %}