<!doctype html>
<head>
  <title>{% block title %}Library{% endblock %}</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script  type=text/javascript src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
  <script  type=text/javascript src="{{ url_for('static', filename='custom.js') }}"></script>
</head>
<body>
  <div class=page>
    <div class="menu"><a href="/">Home</a></div>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>

    <form method=post action="{{ url_for('search') }}">
      <input type="text" name="keyword">
      <input type=submit value=search>
    </form>
    
    <h1>{% block h1 %}Library{% endblock %}</h1>

    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}

    <div class="body">
      {% block body %}{% endblock %}
    </div>
  </div>
</body>