{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block h1 %}Search{% endblock %}

{% block body %}
	{% if books %}
		<h2>Books</h2>
		<ul class=entries>
		{% for book in books %}
			<li><a href="{{ url_for('edit_book', id=book.id) }}">{{ book.title }}</a>
		{% endfor %}
		</ul>
	{% endif %}

	{% if authors %}
		<h2>Authors</h2>
		<ul class=entries>
		{% for author in authors %}
			<li><a href="{{ url_for('edit_author', id=author.id) }}">{{ author.name }}</a>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}